/* .social
/* .img-me
/* .description  */


/* Body

Pick a nice background-color,
font-family / color / font-size
and line-height for the <body>.
Setting these font rules at the
body-level will apply them on all
basic texts (<p>, <li>, etc...).  */

body {
  font-family: 'Open-sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color: #EBEBEB;
  line-height: 1.6em;
  color: #7d7d7d;

}

.container-fluid {


  width: 90%;
  margin: 30px auto;

}

.card {
  text-align: center;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px;
}

/* Headers

Choose a nice color and font-family
for headers (<h1>, <h2>, <h3>)
Choose harmonious font-size and
line-height for headers
Hint: small headers are much more subtle.
Check any website (Medium, Airbnb, etc.),
you'll see that the font-size of their headers
is quite small. */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #DD5555;
}

h2 {
  font-family: 'Open-sans', sans-serif;
  color: #7d7d7d;
  line-height: 1.4em;
  font-size: 18px;
  font-weight: 400;
}

h3 {
  font-family: 'Open-sans', sans-serif;
  color: #7d7d7d;
  font-size: 15px;
  font-weight: 400;
}


/* ---------------------SideBar ----------------- */

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #384047;
  text-align: center;
  box-shadow: 0px 1px 2px 0px;
}

/* Responsive layout behavior */

@media (max-width: 768px) {
  #page-content{
    margin-left: 0px !important ;
  }
  #sidebar {
    display: none;
  }
}

 #sidebar > ul {
  padding-left: 0px; /* Default left padding in ul */
  list-style: none;
  }

#sidebar li {
  margin-top: 50px;
  margin-bottom: 50px;
 }

li > a{
  color:#788188;
}


li > a:hover {
  color:green;
}

#page-content {
  margin-left: 100px;
}


/*----------------My Image-----------------------*/
.img-me {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 2px 3px 2px 1px rgba(0,0,0,0.38);
  transition: all 0.4s linear;
}

.img-me:hover {
  border-radius: 50%;
  border: 2px solid #DD5555;
  box-shadow: 0 0 1px;
}
.description {
  font-weight: 300;
}

/*----------------Link-----------------------*/
.description a {
  text-decoration: none;
  color: #ccc;
  font-weight: lighter;
}

.description a:hover {
  text-decoration: none;
  color: #DD5555;
}

/*----------------Social List-----------------------*/
ol {
  /* ol element has default padding left */
  padding-left: 0px;
}

ol > li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

/*.social a {
  color: black;
}*/

.social img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0.5px 1px 1px 1px rgba(0,0,0,0.62);
  transition: all 0.2s linear;
}
.social a:hover img {
  border: 4px solid #DD5555;
  border-radius: 50%;
  box-shadow: 5px 1px 2px 1px rgba(0,0,0,0.62);
  background-color: lightgrey;
}

/*----------------sprite test-----------------------*/
/*----------------sprite tem de estar escondido por trás-----------------------*/
#sprite:hover {
  background: url('images/social_icons_sprite.png') no-repeat -456px -54px;
  width: 32px;
  height: 33px;
  border-radius: 50%;
  border: 1px dotted #DD5555;
  background-color: lightgrey;
  box-shadow: 5px 1px 2px 1px rgba(0,0,0,0.62);
}

#sprite {
  background: url('images/social_icons_sprite.png') no-repeat -226px -55px;
  width: 33px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.7s ease-in;
}


/* -----------------Hobbies----------------------------------*/

#hobbies p{
  font-weight: 300;
}

/*----------------Current Location-----------------------*/


.info td {
  padding: 10px;
  text-align: justify;

  line-height: 1.6em;
  font-weight: 300;
  font-size: 15px;
}

.info img {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

hr {
  border-color: #1d9d74;
  background-color: #1d9d74;
  height: 0.5px;
  border:0;
}
/*----------------About-----------------------*/
#footer p {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.3em;
}

#footer a {
  text-decoration:none;
}

#footer a:hover {
  color: #1d9d74;
}





